/* This is the universal selector. It selects everything  
* {
    font-family: monospace;
}
*/

html {
    font-size: 22px;
}

body {
}

main {
    font-family: monospace;
}

/* grouping selectors e.g apply to h1 and h2*/
h1,
h2 {
    color: blue;
}

/* class selector: it has more specificity than an element selector */
.gray {
    color: gray;
}

/* element selector */
p {
    color: purple;
}

/* last definition is applied */
p {
    color: red;
}

/* applies to a span nested inside a paragraph 
however, it is encouraged to use a class for this
instead
p span {
    text-transform: uppercase;
    background-color: gold;
}
*/
.highlight {
    text-transform: uppercase;
    background-color: gold;
}

/* id selector */
#second {
    font-style: italic;
}
